<div class="form-group " [formGroup]="Form">

    <div class="p-3">

        <h6 for="heading">Heading:</h6>
        <input formControlName="heading" type="text" class="form-control">
    </div>
    <div class="p-3">
        <h6>First column:</h6>

        <label for="secondSubtitle">Subtitle:</label>
        <input formControlName="firstSubtitle" type="text" class="form-control">

        <label for="firstcolumn">Text:</label>
        <textarea formControlName="firstcolumn" type="text" rows="3" class="form-control"></textarea>
    </div>
    <div class="p-3">
        <h6>Second column:</h6>

        <label for="secondSubtitle">Subtitle:</label>
        <input formControlName="secondSubtitle" type="text" class="form-control">

        <label for="secondcolumn">Text:</label>
        <textarea formControlName="secondcolumn" type="text"  rows="3" class="form-control"></textarea>
    </div>
    <div class="p-3">
        <h6>Third column:</h6>

        <label for="thirdSubtitle">Subtitle:</label>
        <input formControlName="thirdSubtitle" type="text" class="form-control">

        <label for="thirdcolumn">Text:</label>
        <textarea formControlName="thirdcolumn" type="text" rows="3" class="form-control"></textarea>

    </div>

</div>