<div class="form-group " [formGroup]="Form">

    <div class="p-3">

        <h6 for="heading">Heading:</h6>
        <input formControlName="heading" type="text" class="form-control">
    </div>
    <div class="p-3">
        <h6>First column:</h6>

        <label for="first-icon">Icon:</label>
        <select formControlName="firstIcon" class="form-control" id="first-icon">
            <option selected value="fa-address-book">Address book</option>
            <option  value="fa-briefcase">Briefcase</option>
            <option  value="fa-bus">Bus</option>
            <option  value="fa-calendar-alt">Calendar</option>
            <option  value="fa-code">Code</option>
            <option  value="fa-envelope-open">Envelope</option>
            <option  value="fa-laptop">Laptop</option>
            <option  value="fa-map-marked-alt">Map</option>
            <option  value="fa-phone-alt">Phone</option>
            <option  value="fa-android">Android</option>
        </select>

        <label for="secondSubtitle">Subtitle:</label>
        <input formControlName="firstSubtitle" type="text" class="form-control">

        <label for="firstcolumn">Text:</label>
        <textarea formControlName="firstcolumn" type="text" rows="3" class="form-control"></textarea>
    </div>
    <div class="p-3">
        <h6>Second column:</h6>
        
        <label for="second-icon">Icon:</label>
        <select formControlName="secondIcon" class="form-control" id="second-icon">
            <option selected value="fa-address-book">Address book</option>
            <option  value="fa-briefcase">Briefcase</option>
            <option  value="fa-bus">Bus</option>
            <option  value="fa-calendar-alt">Calendar</option>
            <option  value="fa-code">Code</option>
            <option  value="fa-envelope-open">Envelope</option>
            <option  value="fa-laptop">Laptop</option>
            <option  value="fa-map-marked-alt">Map</option>
            <option  value="fa-phone">Phone</option>
            <option  value="fa-address-card">Address card</option>
        </select>

        <label for="secondSubtitle">Subtitle:</label>
        <input formControlName="secondSubtitle" type="text" class="form-control">

        <label for="secondcolumn">Text:</label>
        <textarea formControlName="secondcolumn" type="text"  rows="3" class="form-control"></textarea>
    </div>
    <div class="p-3">
        <h6>Third column:</h6>
        
        <label for="third-icon">Icon:</label>
        <select formControlName="thirdIcon" class="form-control" id="third-icon">
            <option selected value="fa-address-book">Address book</option>
            <option  value="fa-briefcase">Briefcase</option>
            <option  value="fa-bus">Bus</option>
            <option  value="fa-calendar-alt">Calendar</option>
            <option  value="fa-code">Code</option>
            <option  value="fa-envelope-open">Envelope</option>
            <option  value="fa-laptop">Laptop</option>
            <option  value="fa-map-marked-alt">Map</option>
            <option  value="fa-phone-alt">Phone</option>
            <option  value="fa-android">Android</option>
        </select>

        <label for="thirdSubtitle">Subtitle:</label>
        <input formControlName="thirdSubtitle" type="text" class="form-control">

        <label for="thirdcolumn">Text:</label>
        <textarea formControlName="thirdcolumn" type="text" rows="3" class="form-control"></textarea>

    </div>

</div>